@import "../../global.scss";

.item {
  width: 380px;
  height: 250px;
  border-radius: 20px;
  border: px solid #e9e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;

  @include mobile {
    margin: 10px;
  }

  &:hover {
    background-color: $subColour;
    img {
      opacity: 0.08;
      z-index: 0;
    }
  }

  a {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  h3 {
    position: absolute;
    top: 50px;
    font-size: 25px;

    @include mobile {
      font-size: 22px;
    }
  }

  ul {
    width: 80%;
    position: absolute;
    top: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  li {
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    border-radius: 8px;
    background-color: $backgroundColour;

    @include mobile {
      font-size: 18px;
    }
  }
}
